<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/joboffer/jobofferBase :: article(~{::article})}">
<article>
    <header>
        <h2>Job Offer creation form</h2>
    </header>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/joboffer/createdata}" method="get">
        <fieldset class="mb-3">
            <label for="mail" class="form-label">Title</label>:
            <input type="text" id="title" class="form-control" name="title" autofocus="autofocus" required />
        </fieldset>
        <fieldset class="mb-3">
            <label for="taskdescription" class="form-label">Task description</label>:
            <input type="text" id="taskdescription" class="form-control" name="taskdescription" required />
        </fieldset>
        <fieldset>
            <legend>Qualification level</legend>
            <select name="qualificationlevelid" class="form-select" required>
                <option value="" disabled selected>-- Select a qualification level --</option> <!-- Option vide par défaut -->
                <option th:each="ql : ${qualificationLevels}" th:value="${ql.id}" th:text="${ql.label}"></option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Sectors</legend>
              <div id="sectorslist" th:each="s :${sectors}">
                <div class="asector">
                  <input type="checkbox" name="sectors" th:value="${s.id}" th:text="${s.label}"/>
                </div>
              </div>
              <input type="checkbox" name="sectors" th:value="0" checked style="display: none;" />
          </fieldset>
        <button type="submit"  class="btn btn-primary" th:title="${action}"><i class="bi bi-floppy"></i></button>
        <button type="reset" class="btn btn-secondary" value="Reset" title="reset"><i class="bi bi-eraser-fill"></i></button>
        <a th:href="@{/joboffer}" class="btn btn-danger" title="go back"><i class="bi bi-x-square"></i></a>
        <p><br></p>
    </form>
</article>

</html>