<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/candidate/candidateBase :: article(~{::article})}">
<article>
    <h2>Applications management</h2>
    <table class="table table-striped">
        <caption>List of Applications</caption>
        <thead>
            <tr>
                <th scope="col">Application ID</th>
                <th scope="col">CV</th>
                <th scope="col">Application date</th>
                <th scope="col">Sector</th>
                <th scope="col">Qualification Level</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="app : ${candidate.applications}">
                <td th:text="${app.id}" />
                <td th:text="${app.cv}" />
                <td th:text="${app.appdate}" />
                <td>
                    <span th:each="sector, iterStat : ${app.sectors}">
                        <span th:text="${sector.label}"></span>
                        <span th:if="${!iterStat.last}">, </span> <!-- Ajoute une virgule sauf pour le dernier élément -->
                    </span>
                </td>                
                <td th:text="${app.qualificationlevel.label}" />
                <td>
                    <!-- Link to edit offer -->
                    <a th:href="@{/offers/{offerId}/edit(offerId=${offer.id})}" class="btn btn-large btn-success" alt="Edit" title="edit offer">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <!-- Link to delete offer -->
                    <a th:href="@{/offers/{offerId}/delete(offerId=${offer.id})}" class="btn btn-large btn-danger delBtn"
                        alt="Delete" title="delete offer" data-id="@{/offers/{offerId}/delete(offerId=${offer.id})}" th:attrappend="title=${' ' + offer.title}">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <footer>
        <!-- Link to add a new offer -->
        <a th:href="@{/application/create}" class="btn btn-large btn-primary" title="add new offer">
            <i class="bi bi-plus"></i>
        </a>
        <p><br></p>
    </footer>
</article>

</html>
