<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/candidate/candidateBase :: article(~{::article})}">
<article>
    <table class="table table-striped">
        <caption>List of candidates</caption>
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">City</th>
                <th scope="col">Nb. of applications</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cand : ${candidateslist}">
                 <td th:text="${cand.firstname}" />
                <td th:text="${cand.lastname}" />
                <td th:text="${cand.appuser.city}" />
                <td th:text="${cand.applications.size()}" />
                <td>
                    <a th:href="@{/candidates}" alt="Candidate details" title="view details" class="btn btn-large btn-secondary">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <footer>
        <a th:href="@{candidates/create}" class="btn btn-large btn-primary" title="add new candidate">
            <i class="bi bi-plus"></i>
        </a>
        <p><br></p>

    </footer>
</article>

</html>