<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/company/companyBase :: article(~{::article})}">
<article>
    <header>
        <h2>Company entry form</h2>
    </header>
    <!-- (${action}=='create')@{/companies/create}: @{/companies/${company.id}/edit}
     "@{{action}==create? /companies/create : /companies/{id}/edit(id=${company.id},action=${action})}"
     @{${action}=='create1'? /companies/create : /companies/{id}/edit(id=${company.id})}
     -->
     <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    
    <form th:action="@{/companies/createdata}" method="get">
        <fieldset class="mb-3">
            <label for="mail" class="form-label">Mail</label>:
            <input type="email" id="mail" class="form-control" name="mail" autofocus="autofocus" required />
        </fieldset>
        <fieldset class="mb-3">
            <label for="password" class="form-label">Password</label>:
            <input type="password" id="password" class="form-control" name="password" required />
        </fieldset>
        <fieldset class="mb-3">
            <label for="nameid" class="form-label">Name</label>:
            <input type="text" id="nameid" class="form-control" name="denomination" required />
        </fieldset>
        <fieldset class="mb-3">
            <label for="descid" class="form-label">Description</label>:
            <input type="text" id="descid" class="form-control" name="description" required />
        </fieldset>
        <fieldset class="mb-3">
            <label for="cityid" class="form-label">City</label>:
            <input type="text" id="cityid" class="form-control" name="city" required />
        </fieldset>
        <button type="submit"  class="btn btn-primary" th:title="${action}"><i class="bi bi-floppy"></i></button>
        <button type="reset" class="btn btn-secondary" value="Reset" title="reset"><i class="bi bi-eraser-fill"></i></button>
        <a th:href="@{/companies}" class="btn btn-danger" title="go back"><i class="bi bi-x-square"></i></a>
        <p><br></p>
    </form>
</article>

</html>