<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/application/applicationBase :: article(~{::article})}">
<article>
    <table class="table table-striped">
        <caption>List of Applications</caption>
        <thead>
            <tr>
                <th scope="col">Application ID</th>
                <th scope="col">CV</th>
                <th scope="col">Candidate</th>
                <th scope="col">Sector</th>
                <th scope="col">Qualification Level</th>
                <th scope="col">Application Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="app : ${applicationlist}">
                <td th:text="${app.id}" />
                <td th:text="${app.cv}" />
                <td th:text="|${app.candidate.firstname} ${app.candidate.lastname}|" />
                <td>
                    <span th:each="sector, iterStat : ${app.sectors}">
                        <span th:text="${sector.label}"></span>
                        <span th:if="${!iterStat.last}">, </span> <!-- Ajoute une virgule sauf pour le dernier élément -->
                    </span>
                </td>                
                <td th:text="${app.qualificationlevel.label}" />
                <td th:text="${app.appdate}" />
                <td>
                    <a th:href="@{application/}+${app.id}" alt="Application details" title="view details" class="btn btn-large btn-secondary">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <footer>
        <p><br></p>
    </footer>
</article>

</html>
