<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/application/applicationBase :: article(~{::article})}">
<article>
    <header>
        <h2>Application creation form</h2>
    </header>
    <!-- (${action}=='create')@{/companies/create}: @{/companies/${company.id}/edit}
     "@{{action}==create? /companies/create : /companies/{id}/edit(id=${company.id},action=${action})}"
     @{${action}=='create1'? /companies/create : /companies/{id}/edit(id=${company.id})}
     -->
    <form th:action="@{/application/createdata}" method="get">
        <fieldset class="mb-3">
            <label for="cv" class="form-label">CV</label>:
            <input type="text" id="cv" class="form-control" name="cv" autofocus="autofocus" required />
        </fieldset>
        <fieldset>
            <legend>Qualification level</legend>
            <select name="qualificationlevelid" class="form-select" required>
                <option value="">-- Select a sector --</option> <!-- Option vide par défaut -->
                <option th:each="ql : ${qualificationLevels}" th:value="${ql.id}" th:text="${ql.label}"></option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Sectors</legend>
              <div id="sectorslist" th:each="s :${sectors}">
                <div class="asector">
                  <input type="checkbox" name="sectors" th:value="${s.id}" th:text="${s.label}"/>
                </div>
              </div>
          </fieldset>
        <button type="submit"  class="btn btn-primary" th:title="${action}"><i class="bi bi-floppy"></i></button>
        <button type="reset" class="btn btn-secondary" value="Reset" title="reset"><i class="bi bi-eraser-fill"></i></button>
        <a th:href="@{/application}" class="btn btn-danger" title="go back"><i class="bi bi-x-square"></i></a>
        <p><br></p>
    </form>
</article>

</html>